// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");

// Define fonts for body and headers
$body-font: "SourceSansPro", sans-serif;
$headers-font: "SourceSansPro", sans-serif;

h1,h3,h4,h5 {
  font-weight: normal;
}

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

.left-side-info {
  h2 {
    font-family: "SourceSansPro", sans-serif;
  }
}

.top-feed {
  h2 {
    font-family: "SourceSansPro", sans-serif;
    margin-top: 0;
    margin-right: 15px;
  }
}

.profile-left-side-info {
  h2 {
    font-family: "SourceSansPro", sans-serif;
  }
}

.u-partages {
  h2 {
   font-family: "SourceSansPro", sans-serif;
  }
}

.title-debate {
  h2 {
    font-family: "SourceSansPro", sans-serif;
  }
}
