h2 {
  opacity: 0.5;
  font-size: 24px;
  font-weight: normal;
  color: #000000;
  margin-bottom: 31px;
}

.connexion {
  margin-top: 100px;
}

.tablink {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  padding: 8.5px;
  cursor: pointer;
}

.tablink label {
  opacity: 0.5;
  margin-bottom: 14px;
  cursor: pointer;
}

a.tablinks {
  color: #000000;
  opacity: 0.5;
  font-weight: bold;
  padding-top: 30px;
  margin-right: 30px;
  font-size: 17px;
  &:hover {
  text-decoration: none;
  opacity: 1;
  }
  &:active {
    text-decoration: none;
    opacity: 1;
  }
}

.Politique {
  &:hover, &.active, {
    color: #5E0606;
  }
  &.tablinks {
    &:hover, &.active {
      border-bottom: solid 1.5px #5E0606;
      opacity: 1;
    }
  }
  .form-check-input:checked + label {
    color: #5E0606;
    opacity: 1;
  }
}

.Economie {
  &:hover, &.active {
    color: #070D59;
  }
  &.tablinks {
  &:hover, &.active {
    border-bottom: solid 1.5px #070D59;
    opacity: 1;
    }
  }
  .form-check-input:checked + label {
    color: #070D59;
    opacity: 1;
  }
}

.Ecologie {
  &:hover, &.active {
    color: #00541A;
  }
  &.tablinks {
  &:hover, &.active {
    border-bottom: solid 1.5px #00541A;
    opacity: 1;
    }
  }
  .form-check-input:checked + label {
    color: #00541A;
    opacity: 1;
  }
}

.Numérique {
  &:hover, &.active {
    color: #E0BB20;
  }
  &.tablinks {
  &:hover, &.active {
    border-bottom: solid 1.5px #E0BB20;
    opacity: 1;
    }
  }
  .form-check-input:checked + label {
    color: #E0BB20;
    opacity: 1;
  }
}

.liste-subcategory {
  list-style: none;
  padding-left: 0px;
}

.linebetween2 {
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  opacity: 0.15;
  margin-bottom: 31px;
}

.les-plus-actifs {
  position: sticky;
  top: 80px;
}

.act {
  color: #000000;
}

.left-side-info-index {
  position: sticky;
  top: -220px;
}

.fa-chevron-up {
  color: #00541A;;
}
