.navbar-wagon-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchbar {
  margin-right: 15px;
}

.modal-content {
  padding: 20px 70px;
}

.modal-button-new-article {
  background:none!important;
  border:none;
  padding:0!important;
  margin-top: 5px;
  margin-right: 30px;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.29;
  color: #000000;
  &:hover {
    color: black
  }
  &:focus {
      background:none!important;
     border:none;
     padding:0!important;
     color: #000000;
     outline:0;
  }
}

.modal-button-new-article a{
  text-decoration: none;
}


.user-comment-button {
  background:none!important;
  border:none;
  padding:0!important;
  margin-top: 5px;

  font-size: 17px;
  font-weight: bold;
  line-height: 1.29;
  color: #000000;
  margin-right: 30px;
  &:hover {
    color: black
  }
  &:focus {
    background:none!important;
    border:none;
    padding:0!important;
    color: #000000;
    outline:0;
  }
}

.bell {
  margin-right: 30px;
}


