.navbar-wagon-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchbar {
  margin-right: 15px;
}

.modal-content {
  padding: 20px 70px;
}

.modal-button-new-article {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.29;
  color: #000000;
    &:hover {
    color: black
  }
}
.modal-button-new-article a{
  text-decoration: none;
}


.user-comment-button {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.29;
  color: #000000;
  &:hover {
    color: black
  }
}


