
.categories {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


// Classes test
.selected-element {
  color: red;
}

.selected-subcategory {
  color: green;
}


.categories-card label {
    display: block;
}

.btn-partager {
  background-color: black;
  color: white;
}
