.new-article-form h2 {
  border-bottom: 1px solid #898989;
  padding-bottom: 15px;
}

.categories {
  display: flex;
  justify-content: space-between;
}

.category-box {
  flex: 0 0 25%;
}

.category-box.not-active {
  opacity: 0.2;
}


.category-image {
  position: relative;
  width: 180px;
  height: 100px;
  background-size: cover;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
  &:hover {
    cursor: pointer;
  }
}


.category-name {
  font-size: 19px;
  font-weight: 600 !important;
  padding-bottom: 5px;
}

.subcategory-choice {
  font-weight: 500 !important;
  padding: 5px 0px 5px 5px;
  width: 100%;
}

.category-box .subcategory-choice:hover {
  color: white;
  &.Ecologie{
    background-color: rgba(40, 85, 27, 0.5);
  }
  &.Economie {
    background-color: rgba(9, 20, 89, 0.5);
  }
  &.Politique {
    background-color: rgba(95, 20, 15, 0.5);
  }
  &.Numérique {
    background-color: rgba(224, 187, 44, 0.7);
  }
}

.category-box .form-check-input:checked + .subcategory-choice {
  color: white;
  position: relative;
  &:before {
    content: '\f14a';
    font-family: "Font Awesome 5 Free";
    color: white;
    padding-right: 10px;
  }
  &.Ecologie {
    background-color: rgba(40, 85, 27, 1);
  }
  &.Politique {
    background-color: rgba(95, 20, 15, 1)
  }
  &.Economie {
    background-color: rgba(9, 20, 89, 1);
  }
  &.Numérique {
    background-color: rgba(224, 187, 44, 1);
  }
}

.category-box .subcategory-choice.active {
  &.Ecologie{
    background-color: #00541A;
  }
  &.Economie {
    background-color: #070D59;
  }
  &.Politique {
    background-color: #5E0606;
  }
  &.Numérique {
    background-color: #E0BB20;
  }
}

.article-submit {
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}

.article-submit .button-black {
  flex: 0 0 80vw;
}

.sub-categories label {
  font-size: 15px;
  cursor: pointer;
}

.category-subcategories-box {
  padding-left: 10px;
  padding-top: 15px;
}


.category-box img {
  cursor: pointer;
}

.container {
  width: 100%;
  padding-left: none;
  padding-right: none;
}


#article_description {
  height: 90px;
}

