.category {
  display: flex;
  justify-content: space-around;
}

.select-category {
  ul {
    list-style: none;
  }
  h4 {
    text-align: center;
  }
  li {
    padding: 4px;
  }
}

.category-choices {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

// Classes test
.selected-element {
  color: red;
}

.selected-subcategory {
  color: green;
}


.categories-card label {
    display: block;
}
