.comment_form {
    top: 55px;
  }

.user-comment-card {
  display: flex;
  flex-direction: column;
}

.avatar {
  img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  }
}
.pseudo {
  position: relative;
  left: 10px;
}
.titre {
  font-size: 24px;
  opacity: 0.7;
  margin:5px;
}
.title-comment {
  padding-bottom: 10px;
  width: 312px;
  height: 31px;
  font-size: 24px;
  line-height: 1.29;
  text-align: left;
  opacity: 0.7;
  color: #000000;
}

.text-comment {
  margin-top: 15px;
  padding-bottom: 10px;
  width: 690px;
  opacity: 0.7;
  font-size: 14px;
  line-height: 1.29;
  text-align: left;
  color: #000000;
}

.source {
  font-size: 14px;
  margin-top: 15px;
  a {
    color: #000000;
    font-style: bold;
    opacity: 0.6;
  }
}

.user-comment-name {
  display: flex;
  padding: 5px;
  border-top: 1px solid rgba(238, 238, 238, 1);
}

.modal-footer {
  border-top: 0px
}

#comment_text {
  height: 90px;
}

#comment_title {
  height: 29px;
}

#comment_source {
  height: 29px;
}

button.navbar-wagon-item-comment {
  position: relative;
  left: 500px;
}
