.comment_form {
    top: 55px;
  }

.user-comment-card {
  display: flex;
  flex-direction: column;
}

.user-comment-card .linebetween {
  margin-top: 20px;
}

.avatar {
  img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  }
}
.pseudo {
  position: relative;
  left: 10px;
}
.titre {
  font-size: 24px;
  opacity: 0.7;
  margin:5px;
}

.comment-date {
  opacity: 0.5;
  font-size: 14px;
  color: #000000;
  font-style: italic;
  margin-top: 5px;
}

.title-comment a {
  padding-bottom: 10px;
  height: 31px;
  font-size: 24px;
  line-height: 1.29;
  text-align: left;
  opacity: 0.7;
  color: #000000;
  margin-top: 16px;
  cursor: pointer;
}

// .text-comment {
//   margin-top: 15px;
//   padding-bottom: 10px;
//   width: 690px;
//   opacity: 0.7;
//   font-size: 14px;
//   line-height: 1.29;
//   text-align: left;
//   color: #000000;
// }

.source {
  font-size: 14px;
  margin-top: 15px;
  a {
    color: #000000;
    font-style: bold;
    opacity: 0.6;
  }
}

.user-comment-name {
  display: flex;
  padding: 5px;
  border-top: 1px solid rgba(238, 238, 238, 1);
}

.modal-footer {
  border-top: 0px
}

#comment_text {
  height: 84px;
}

#comment_title {
  height: 29px;
}

#comment_source {
  height: 29px;
  padding: 0;
}

::placeholder {
  padding-left: 10px;
}

.comment-submit {
  margin-left: 300px;
}

.comment-submit .btn {
  margin-top: 35px;
}

.modal-footer .btn{
  display: none;
}

button.navbar-wagon-item-comment {
  position: relative;
  left: 550px;
}

.modal-button-new-comment {
  border-color: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.comment-section {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.linebetween3 {
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  opacity: 0.15;
  margin-bottom: 30px;
}

.linebetween4 {
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  opacity: 0.15;
}

.linebetween5 {
  margin-bottom: 13px;
}

.user-names {
  margin-top: 7px;
  a {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  }
}

.bar-button {
  margin-top: 5px;
  margin-bottom: 5px;
}

.user-comment-button button {
  margin-right: 10px;
    font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.user-sub-comment-button {
  padding: 6px 20px;
  border: solid 1px #000000;
  background-color: #000000;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: lighter;
  margin-right: -15px;
}

.current_user_info {
  display: flex;
}

.user-names {
  position: relative;
  left: 10px;
}

.act {
  color: #000000;
}

.left-side-info-show {
  top: 80px;

}

.all-debats .active a {
  color: #b21818;
  font-weight: bold;
  opacity: 1;
}

.current_user_img .avatar_sidebar {
  margin-left: -15px;
}

.answers {

}

.title-sub-comment {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}

.all-answers {
  width: 60%;

  // margin: 0 auto;
}

.flex-title-comment {
  display: flex;
  i {
  margin-left: 15px;
  margin-top: 10px;
  opacity: 0.5;
  }
}

.flex-title-comment .up {
  margin-left: 6px;
  margin-top: 5px;
  opacity: 0.5;
}

.title-debate {
  display: flex;
  .upvote-carre-comment {
    margin-top: -9px;
  }
  .comment-title {
    padding-bottom: 10px;
  }
}

.title-reponses {
  display: flex;
  align-items: center;
}

.titre-reponses {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  margin-right: 30px;
}

.button-repondre {
  color: white;
  background-color: black;
  padding: 10px;
  font-size: 14px;
  font-weight: lighter;
  padding: 6px 20px;
  border-radius: 2px;
  cursor: pointer;
    &.Politique {
    background-color: #5E0606;
  }
  &.Ecologie {
    background-color: #00541A;
  }
  &.Economie {
    background-color: #070D59;
  }
  &.Numérique {
    background-color: #E0BB20;
  }
  &.Humanités {
    background-color: #483D8B;
  }
}

.date-filter {
  margin-left:auto;
  margin-right:0;
  margin-right: 20px;
  a {
    opacity: 0.6;
    font-size: 18px;
    color: #000000;
    &:hover {
      opacity: 1;
    }
    &.active {
    font-weight: bold;
    opacity: 1;
    font-size: 12px;
    }
  }
}

.upvotes-filter a {
  opacity: 0.6;
  font-size: 18px;
  color: #000000;
  &:hover {
      opacity: 1;
    }
 &.active {
  font-size: 12px;
  font-weight: bold;
  opacity: 1;
  }
}

.answers-title {
  padding-top: 22px;
}

.linebetween7 {
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  opacity: 0.15;
  margin-top: 10.5px;
  margin-bottom: 30px;
  color: black;
}

.flex-pro-con {
  .form-group {
    display: inline;
    .form-check {
      display: inline;
      margin-right: 10px;
      .collection_radio_buttons {
        cursor: pointer;
        width: 100px;
    padding: 6px 20px;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
      }
      .form-check-input {
        display: none;
      }
    }
  }
}

.sub-comments-form {
  #sub_comment_source {
    height: 39px;
  }
}

.answers {
  margin-bottom: 30.5px;
  display: none;
   &.active {
    display: block;
  }
  &.pros_con {
    width: 60%;
  }
}

.pro-con-flex {
  display: flex;
  justify-content: space-between;
}
.pros, .neutrals, .cons {
  flex-basis: 100%;
}

.pros, .neutrals {
  padding-right: 20px;

}

.pro-title {
  padding: 7px;
  margin-bottom: 30px;
  text-align: center;
  background-color: rgba(0, 230, 64, 0.2)
}

.neutral-title {
  padding: 7px;
  margin-bottom: 30px;
  text-align: center;
  background-color: rgba(103, 128, 159, 0.2);
}

.con-title {
  padding: 7px;
  margin-bottom: 30px;
  text-align: center;
  background-color: rgba(246, 36, 89, 0.2)
}

label[for=sub_comment_state_pour] {
  background-color: rgba(0, 230, 64, 0.2);
   &.active {
          background-color: rgba(0, 230, 64, 0.7);
        }
}

label[for=sub_comment_state_neutre] {
  background-color: rgba(103, 128, 159, 0.2);
  &.active {
          background-color: rgba(103, 128, 159, 0.7);
        }
}

label[for=sub_comment_state_contre] {
   background-color: rgba(246, 36, 89, 0.2);
   &.active {
          background-color: rgba(246, 36, 89, 0.7);
        }
}

.comment-show {
  .popupuser {
    left: 8%;
  }
}

.follow-button {
  text-transform: uppercase;
  border-color: #4090db;
  color: #4090db;
  margin-left: 20px;
  &:visited, &:focus, &:hover {
    border-color: #2D6396;
    color: #2D6396;
  }
}

.unfollow-button {
  text-transform: uppercase;
  border-color: #66bd2b;
  background-color: #66bd2b;
  color: white;
  margin-left: 20px;
  &:visited, &:focus, &:hover {
    border-color: #47821F;
    background-color: #47821F;
    color: white;
  }
}


  .button-follow-show {
    margin-bottom: 15px;
    margin-top: 0px;
    padding: 5px 18px;
    border: solid 1px #000000;
    background-color: white;
    color: black;
    opacity: 1;
    font-size: 17px;
    font-weight: lighter;
    font-style: normal;
    border-radius: 4px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
    margin-left: 19%;
    width: 85px;
    &.suivre {
      background-color: black;
      color: white;
    }
    i {
      margin-top: 3px;
      margin-right: 7px;
      margin-left: -7px;
    }
  }

  .flex-button-follow {
    display: flex;
  }

  .infos-follows {
    font-weight: bold;
    font-size: 16px;
  }

  .user-follows {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

.profile-left-side-info {
  .fas {
    color: rgba(1, 1, 1, 0.5);
  }
  .change-password a{
    color: rgba(1, 1, 1, 0.5);
    font-size: 14px;
  }
}
