<div class="main-content">
  <div class="top-feed">
    <h2>Meilleurs articles</h2>
  </div>
  <% articles.each do |article| %>
    <%= render "shared/card", article: article %>
  <%end %>
  <div  id="new-article-anchor">

  </div>
</div>
