
<div class="wrapper">
  <div class="themes">

  </div>
  <div class="all-content">

    <div class="left-side-info">

    </div>

    <div class="main-content">
      <div class="top-feed">

      </div>
        <% @articles.each do |article| %>
          <div class="card">
            <%=raw Onebox.preview(article.URL) %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="footer">

    </div>
  </div>



<div class="tab">
  <button class="tablinks" >Ecologie</button>
  <button class="tablinks" >Politique</button>
  <button class="tablinks">Economie</button>
  <button class="tablinks" >Numérique</button>
</div>

<div id="Ecologie" class="tabcontent">ecologie</div>
<div id="Politique" class="tabcontent">poli</div>
<div id="Economie" class="tabcontent">economie</div>
<div id="Numérique" class="tabcontent">num</div>

</div>


<!-- <script>
  function openTheme(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script> -->
