<div class="themes categories">
  <%= render 'categories/index', categories: @categories %>
</div>
<div class="all-content">
  <div class="sub_categories <%= @category&.name %>">
    <% if @category.present? %>
      <%= render 'sub_categories/index', sub_categories: @sub_categories, category: @category, selected: @sub_categories_selected %>
    <% end %>
  </div>
    <%= render 'articles/index', articles: @articles %>
</div>


