 <div class="pcc-wrapper">
  <div class="container new-article-form error">

    <p>Remplir les champs étoilés</p>
    <p>Choisir une ou plusieurs sous catégories</p>
    <h2>Partager un article</h2>

    <%= simple_form_for @article do |f| %>
      <%= f.input :URL, label: 'Lien de l\'article' %>
      <div class="categories">
        <% Category.all.each do |category| %>
            <%= render 'categories/box', category: category, f: f %>
        <% end %>
      </div>

      <div class="article-submit">
        <%= f.submit 'Partager', class: "button-black" %>
      </div>
    <% end %>

  </div>
</div>




