<div class="pcc-wrapper">
  <div class="categories">
    <%= render 'categories/index', categories: @categories %>
  </div>
  <div class="all-content">
    <div class="sub_categories">
      <div class="left-side-info left-side-info-show">
        <h2>Participants</h2>
        <div class="linebetween-10"></div>

        <p> <%= "Soyez le premier à participer" %> </p>

      </div>
    </div>
    <div class="main-content">
      <div class="title-debate">
      <h2>Débat</h2>
      </div>
      <div class="card listed-article" >
        <%= render "shared/card", article: @article %>
      </div>




      <div class="linebetween3" id="anchor-comment" ></div>


    </div>
  </div>
  <div class="footer"></div>
</div>

<%= render "shared/new_modal", article: @article %>




