.pcc-wrapper {
  background-color: #ffffff;
  width: 80vw;
  margin: 0 auto;
}

.all-content {
  margin: 10px 0 0;
  display: flex;
  justify-content: space-between;
}


.main-content{
  flex: 0 0 66.67%;
}


.left-side-info {
  flex: 0 0 33.33%;
}

.themes {
  height: 130px;
}

.top-feed {
  display: flex;
  justify-content: space-between;
}
