<div id="top-page"><a href="#top"><i class="fas fa-chevron-up"></i></a></div>
<div class="upperline"> </div>
<div class="footer">
<%@categories.each do |category| %>
<div>
  <p class="link_cat"><%= link_to "#{category.name}", articles_path(query: { category_name: category.name }) %></p>
  <ul class="Ulist">
    <% category.sub_categories.each do |sub_category| %>
    <li class="link_sub"><%= link_to "#{sub_category.name}", articles_path(query: { sub_category_names: [sub_category.name] }) %></li>
    <%end %>
  </ul>
</div>
<%end %>
</div>
