<div class=" modal modal-followers" tabindex="-1" role="dialog" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">

  <% @user.followers.each do |follower| %>
  <%= render 'shared/card_user', user: follower%>
  <%end %>
</div>
</div>
</div>
