<div class=" modal modal-following" tabindex="-1" role="dialog" >
    <div class="modal-dialog profile" role="document">
      <div class="modal-content profile">

  <% @user.following.each do |follower| %>
  <%= render 'shared/card_user_profile', user: follower%>
  <%end %>
</div>
</div>
</div>
