<div style="text-align:center">
  <h1> AFFIRME L'ESPRIT CRITIQUE </h1>
   <h3> "Le goût de la vérité n'empêche pas de prendre parti" - Albert Camus </h3>
   <div class= button-black>
    <%= link_to "articles", articles_path %></div>
</div>
  <%= image_tag "logopcc.jpg", height: 400 %>
