<div class="left-side-info left-side-info-index">
  <h2><%= @category.name %></h2>
  <div class="linebetween"></div>
  <ul class="liste-subcategory tablink">
    <% if sub_categories.present? %>
      <%= simple_form_for :query, method: :get, html: {id: 'sub-categories-form'} do |f| %>
        <%= f.input :sub_category_names, collection: sub_categories, as: :check_boxes, value_method: :name, checked: selected&.pluck(:name), input_html: {} %>
        <%= f.input :category_name, as: :hidden, input_html: { value: params.dig(:query, :category_name)} %>
      <% end %>
    <% end %>
  </ul>
  <h2>Les plus actifs</h2>
  <div class="linebetween"></div>
<<<<<<< HEAD
=======
  <div>

  </div>

>>>>>>> 46cfc1017f99f54dcc1e77d4b0152b4380a08e42
</div>
