// .listed-article {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   align-items: flex-start;
//   .thumbnail {
//     width: 240px;
//     height: 135px;
//   }
// }

// .user-info, .article-comment, .article-preview  {
//   flex: 1 1 auto;
// }

// .footer-card {
//   width: 500px;
//   border-style: solid;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   flex: 0 1 auto;
// }

// .footer-info {
//   background-color: yellow;
//   flex: 0 1 auto;
// }

// .footer-action {
//   background-color: #FFFF;
//   flex: 0 1 auto;
// }

// .source {
//   position: relative;
//   top: 50px;
//   left: 260px;
//   .site-icon {
//     width: 20px;
//     height: 20px;
//   }
//   .a {
//     width: 50px;
//     font-size: 12px;
//   }
// }

// .onebox-body h3 {
//   position: relative;
//   bottom: 180px;
//   left: 260px;
//   width: 200px;
//   height: 80px;
//   a {
//   width: 412.2px;
//   height: 23px;
//   font-family: SourceSansPro;
//   font-size: 12px;
//   font-weight: bold;
//   font-style: normal;
//   font-stretch: normal;
//   line-height: 0.5;
//   letter-spacing: normal;
//   text-align: left;
//   color: #000000;
//   white-space: nowrap;
//   }
// }

// .onebox-body p {
//   position: relative;
//   bottom: 180px;
//   left: 260px;
//   width: 200px;
//   height: 80px;
//   width: 412.2px;
//   height: 23px;
//   font-family: SourceSansPro;
//   font-size: 12px;
//   font-weight: bold;
//   font-style: normal;
//   font-stretch: normal;
//   line-height: 1.2;
//   letter-spacing: normal;
//   text-align: left;
//   color: #000000;
// }

// .article-title, .article-source, .article-site-description {
//   position: relative;
//   top: 180px;
//   left: 260px;
// }

.user-info {
 width: 173px;
 height: 18px;
 font-family: SourceSansPro;
 font-size: 14px;
 font-weight: bold;
 font-style: normal;
 font-stretch: normal;
 line-height: 1.29;
 letter-spacing: normal;
 text-align: left;
 color: #000000;
}

.article-comment {
 width: 690px;
 height: 57px;
 opacity: 0.7;
 font-family: SourceSansPro;
 font-size: 14px;
 font-weight: normal;
 font-style: normal;
 font-stretch: normal;
 line-height: 1.29;
 letter-spacing: normal;
 text-align: left;
 color: #000000
}

.article-preview {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-img {
  flex: 0 0 33%;
  overflow: hidden;
  img {
  }
}

.article-info {
  flex: 0 0 66%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.article-title, .article-source, .article-site_description {
 // width: 412.2px;
 // height: 23px;
 // font-family: SourceSansPro;
 color: #000000;
}

.article-title {
 margin: 0 0 10px;
 font-size: 18px;
 font-weight: bold;
 opacity: 1;
}
.article-source {
 // width: 65px;
 // height: 18px;
 margin: 0 0 10px;
 font-size: 14px;
 color: #000000;
 opacity: 0.5;
}

.article-site_description {
 // width: 412px;
 // height: 68px;
 margin: 0;
 color: #000000;
 font-size: 14px;
}






