.user-info {
 width: 173px;
 height: 18px;
 font-size: 14px;
 font-weight: bold;
 line-height: 1.29;
 text-align: left;
 color: #000000;

  a {
    color: black;
    text-decoration: none;
  }

}

.article-comment {
  opacity: 0.7;
  font-size: 14px;
  line-height: 1.29;
  text-align: left;
  color: #000000;
  margin-bottom:10px;
  text-align: justify;
}

.article-preview {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-img {
  flex: 0 0 33%;
  overflow: hidden;
  img {
  }
}

.article-info {
  flex: 0 0 66%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.article-title, .article-source, .article-site_description {
 color: #000000;
}

.article-title {
 margin: 0 0 10px;
 font-size: 18px;
 // font-weight: bold;
 opacity: 1;
 color: #000000;
 a {
    color: #000000;
    text-decoration: none;
  }
}
.article-source {
 margin: 0 0 10px;
 font-size: 14px;
 color: #000000;
 opacity: 0.5;
 a {
    color: #000000;
    text-decoration: none;
  }
}

.article-site_description {
  margin: 0;
  color: #000000;
  font-size: 14px;
  text-align: justify;
  text-justify: inter-word;
  a {
    color: #000000;
    text-decoration: none;
  }
}


.linebetween {
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  opacity: 0.15;
  margin-bottom: 31px;
}

.user-display {
  display: flex;
  padding-bottom: 15px;
  .avatar {
    img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
    }
  }
}

.user-input {
  position: relative;
  left : 14px;
}

.footer-card {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  font-size: 16px;
}

.footer-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    font-size : 16px !important;
    color: black;
    font-weight: bold;
    padding: 15px;
  }
}

.footer-info {
  font-weight: lighter;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  opacity: 0.7;
  color: black;
  font-style: italic;
}

.sub_categories_infos {
  padding-right: 10px;
  font-size: 14px;
  opacity: 0.7;
  color: black;
  font-style: italic;

}

i.upvoted {
  color: green;
  padding-right: 10px;
  padding-top: 5px;
}
