.comment-all {

}

.comment-flex {
  padding-top: 20px;
  display: flex;
  .comment-all {
    margin-bottom: 20px;
  }
}

.comment-flex:hover {
  &.Ecologie {
  transition-duration: 0.2s;
  background-color: rgba(40, 85, 27, 0.1);
  }
  &.Economie {
    transition-duration: 0.2s;
    background-color: rgba(9, 20, 89, 0.1);
  }
  &.Politique {
    transition-duration: 0.2s;
    background-color: rgba(95, 20, 15, 0.1);
  }
  &.Numérique {
    transition-duration: 0.2s;
    background-color: rgba(224, 187, 44, 0.1);
  }
  &.Humanités {
    transition-duration: 0.2s;
    background-color: rgba(72, 61, 139, 0.1);
  }
}

.comment-upvote {
margin-right: 81px;

}

.upvote-carre-comment {
  border-radius: 2px;
    height: 50px;
  width: 50px;
    float: left;
  position: absolute;
  &.Politique {
    background-color: #5E0606;
  }
  &.Ecologie {
    background-color: #00541A;
  }
  &.Economie {
    background-color: #070D59;
  }
  &.Numérique {
    background-color: #E0BB20;
  }
  &.Humanités {
    background-color: #483D8B;
  }
}

.comment-title-flex {
  display: flex;
  align-items: center;
}

.comment-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.29;
  color: #000000;
}

.comment-see {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.29;
  color: #000000;
  margin-left:auto;
  margin-right:0;
}

.flex-photo-info {
  display: flex;
  text-align: center;
  padding-top: 5px;
}

.flex-photo-info {
.user-infos-comment {
    color: rgba(1, 1, 1, 0.7);
    font-style: italic;
    font-size: 14px;
    margin-top: 5px;
  a {
    text-decoration: none;
    font-size: 14px;
    color: rgba(1, 1, 1, 0.8);
  }
}
}

.text-comment {
 font-size: 18px;
    line-height: 1.29;
    font-weight: lighter;
    color: #000000;
    // -webkit-column-count: 2;
    // column-count: 2;

    // column-gap: 22px;
    margin-top: 18px;
    padding-bottom: 5px;
    text-align: justify;
    width: 80%;



}


  .card-up-comment {
  font-family: Georgia;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.1;
  text-align: center;
  color: #ffffff;
  margin-top: -7px;
    &.active {
      margin-top: 13px;
    }
  }

  .associated-articles-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 3px;
  margin-bottom: 12px;
  color: black;

  }

.user-infos-comment {
  a:hover {
    text-decoration: underline;
  }
}

.participants {
  margin-right: 64px;
  position: absolute;
  right: 0;
  color: black;
  padding-top: 5px;
  font-size: 16px;
  font-weight: bold;
    &.Politique {
    color: #5E0606;
  }
  &.Ecologie {
    color: #00541A;
  }
  &.Economie {
    color: #070D59;
  }
  &.Numérique {
      color: #E0BB20;
  }
  &.Humanités {
    color: #483D8B;
  }
  .avatar-article {
    margin-right: -13px;
  }
}

.comment-show {
  padding-top: 20px;
  padding-bottom: 30px;
  &.Ecologie {

  background-color: rgba(40, 85, 27, 0.1);
  }
  &.Economie {

    background-color: rgba(9, 20, 89, 0.1);
  }
  &.Politique {

    background-color: rgba(95, 20, 15, 0.1);
  }
  &.Numérique {

    background-color: rgba(224, 187, 44, 0.1);
  }
  &.Humanités {

    background-color: rgba(72, 61, 139, 0.1);
  }
}

.source-comment a {
      font-size: 14px;
    color: rgba(1, 1, 1, 0.7);
    font-style: italic;

    &:hover {
      opacity: 1;
    }
}

.comment-all {
   .popupuser {
    font-size: 14px;
    font-weight: lighter;
    padding: 8px 10px;
    border-radius: 4px;
    position: absolute;
    display: none;
    background-color: white;
    color: black;
    text-align: center;
    left: 15%;
    margin-top: 38px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
