.comment-all {
  margin-bottom: 30px;
}

.comment-flex {
  display: flex;
}

.comment-upvote {
margin-right: 81px;

}

.upvote-carre-comment {
    height: 50px;
  width: 50px;
    float: left;
  position: absolute;
  &.Politique {
    background-color: #5E0606;
  }
  &.Ecologie {
    background-color: #00541A;
  }
  &.Economie {
    background-color: #070D59;
  }
  &.Numérique {
    background-color: #E0BB20;
  }
  &.Humanités {
    background-color: #483D8B;
  }
}

.comment-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.29;
  text-align: left;
  color: #000000;
}

.flex-photo-info {
  display: flex;
  text-align: center;
  padding-top: 5px;
}

.flex-photo-info {
.user-infos-comment {
    opacity: 0.7;
    font-style: italic;
    font-size: 14px;
    margin-top: 5px;
  a {
    color: black;
    text-decoration: none;
    font-size: 14px;
    opacity: 0.8;
  }
}
}

.text-comment {
  font-size: 14px;
  line-height: 1.29;
  color: #000000;
  column-count: 2;
  column-gap: 22px;
  margin-top: 18px;
  padding-bottom: 5px;



}


  .card-up-comment {
  font-family: Georgia;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.1;
  text-align: center;
  color: #ffffff;
  margin-top: -7px;
    &.active {
      margin-top: 13px;
    }
  }

  .associated-articles-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 3px;
  margin-bottom: 12px;
  color: black;

  }


