.arrow-sub-comment {
  width: 25px;
  height: 25px;
  text-align: center;
  margin-right: 5px;
  &.Politique {
    background-color: #5E0606;
  }
  &.Ecologie {
    background-color: #00541A;
  }
  &.Economie {
    background-color: #070D59;
  }
  &.Numérique {
    background-color: #E0BB20;
  }
  &.Humanités {
    background-color: #483D8B;
  }
  i {
    color: white;
  }
}

.text-sub-comment {
  font-size: 16px;
  line-height: 1.29;
  color: #000000;
  display: flex;
  margin-top: 13px;
  padding-bottom: 10px;
  text-align: justify;

}

.footer-sub-comment {
  display: flex;
  margin-top: 10px;
    &.Politique {
    color: #5E0606;
    &.background {
    background-color: rgba(95, 20, 15, 0.1);
    }
    .fa-chevron-up {
      color: #5E0606;
    }
  }
  &.Ecologie {
    color: #00541A;
    &.background {
    background-color: rgba(40, 85, 27, 0.1);
  }
    .fa-chevron-up {
      color: #00541A;
    }
  }
  &.Economie {
    color: #070D59;
    &.background {
   background-color: rgba(9, 20, 89, 0.1);
  }
    .fa-chevron-up {
      color: #070D59;
    }
  }
  &.Numérique {
    color: #E0BB20;
    &.background {
    background-color: rgba(224, 187, 44, 0.1);
  }
    .fa-chevron-up {
      color: #E0BB20;
    }
  }
  &.Humanités {
    color: #483D8B;
    &.background {
    background-color: rgba(72, 61, 139, 0.1);
  }
    .fa-chevron-up {
      color: #483D8B;
    }
  }

}

.linebetween6 {
 margin-top: 10px;
 margin-bottom: 30px;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  opacity: 0.15;
  color: black;
  &.hidden {
    display: none;
  }
}

.linebetween8 {
 margin-top: 10px;
 margin-bottom: 30px;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
color: rgba(1, 1, 1, 0.15);
  &.hidden {
    display: none;
  }
}

.sub-comment-submit .btn {
  width: 100%;
  max-width: 100%;
}

.reactions {
  cursor: pointer;
  margin-top: 5px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.25;
  margin-left:auto;
  margin-right:0;
  display: flex;
  .fas {
    cursor: pointer;
    margin-left: 4px;
    margin-top: 2px;
  }
  .fa-chevron-up {
    display: none;
    &.active {
    display: block;
    }
  }
  .fa-chevron-down .active {
    display: none;
  }
}

#sub_comment_text {
  height: 402px;
}
